*,
*::after,
*::before {
    box-sizing: border-box;
    color: gold;
}

article p:first-of-type {
    color: red;
    font-size: 1.5em;
}

.my-class {
    color: red;
}

#rad {
    border: 1px solid blue;
}

[data-type="primary"] {
    color: red;
}

[data-type] {
    color: rosybrown;
}

p strong {
    color: blue;
}
