* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

.hero {
    background-image: url("https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcQ1VLYx7mDxNSYBhTEcuNPUfrgfj7RZlGkVe4PQQT-Zu8CzoiX9Jf6nDrTBmwUxfFzCCsrkou1OUR0vida7Q8jE6FQQ_C-itJgbqs_4p7yR");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.content {
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1;
    color: white;
}

.content::after {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
    border-radius: 14px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: -1;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #ff5500;
}

.chips {
    margin-top: 20px;
}

.chip {
    background-color: rgba(165, 165, 165, 0.4);
    padding: 8px 12px;
    border-radius: 16px;
    font-size: 0.9em;
    display: inline-block;
    margin: 5px;
    backdrop-filter: blur(20px);
}
