*,
*::after,
*::before {
    box-sizing: border-box;
}

article p:first-of-type {
    color: red;
    font-size: 1.5em;
}

.my-class {
    color: red;
}

#rad {
    border: 1px solid blue;
}

[data-type="primary"] {
    color: red;
}

[data-type] {
    color: rosybrown;
}

p strong {
    color: blue;
}

button {
    color: red;
}
.branding {
    color: blue;
}

.my-button {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
    background: rgb(231, 152, 4);
    font: inherit;
    text-align: center;
    border-radius: 0.5rem;
}

article p {
    font-style: italic;
    background: cyan;
}
